{% extends 'store/base.html' %}
{% load static %}

{% block shop_active %}
    active
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <section id="prodetails" class="section-p1 row">
            <div class="single-pro-image col-md">
                <img src="{{ MEDIA_URL }}{{ product.get_first_image }}" class="mb-1" alt="Image" id="MainImg"
                     width="100%">
                <div class="small-img-group d-flex justify-content-start gap-1">

                    {% for images in product.get_all_images %}
                        <div class="small-img-col">
                            <img src="{{ MEDIA_URL }}{{ images }}" alt="" class="small-img" width="100%">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="single-pro-details col-md">
                <h6>Home / {{ product.category }}</h6>
                <h4>{{ product.product_name }}</h4>
                <h2>Rs. {{ product.price }}</h2>
                <a href="#" class="btn btn-primary">Add to Cart</a>
                <h4>Product Details</h4>
                <span>{{ product.description }}</span>
            </div>
        </section>

        <section id="recents-product" class="py-5">
            <h2 class="text-center mb-4">Recently Added</h2>
            <div class="container">
                <div class="row justify-content-start gap-3">
                    {% for product in latest %}
                        <div class="card shopping-card">
                            <div class="card-body p-0">
                                <img src="{{ MEDIA_URL }}{{ product.get_first_image }}" alt="Product Image"
                                     class="card-img product-card-img">
                                <div class="card-description p-2">
                                    <div class="text-sm text-bolder">{{ product.vendor_id }}</div>
                                    <a href="{% url 'store:product_detail' product.id %}"><h4
                                            class="product-name">{{ product.product_name }}</h4></a>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="price-tag"><strong>Rs. {{ product.price }}</strong></p>
                                        <a href="#" class="fas fa-cart-plus cart-btn"> Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script>
        const mainImg = document.getElementById("MainImg");
        const smallImages = document.getElementsByClassName("small-img");
        console.log(mainImg, smallImages)

        for (let i = 0; i < smallImages.length; i++) {
            smallImages[i].onclick = function () {
                mainImg.src = smallImages[i].src
            }
        }
    </script>
{% endblock %}